USER_DB_PASSWORD=change_me
CONTEST_DB_PASSWORD=change_me
EVAL_DB_PASSWORD=change_me
PAYMENT_DB_PASSWORD=change_me

JWT_SECRET=change_me_to_a_long_random_string
INTERNAL_SECRET=change_me_to_another_long_random_string

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_PAYOUT_AGENT_ID=
YOOKASSA_PAYOUT_SECRET_KEY=


EVALUATION_STUB=true
OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_MODEL=mistral-small:24b
OLLAMA_VISION_MODEL=pixtral:12b

VITE_USER_API_URL=http://localhost:8001
VITE_CONTEST_API_URL=http://localhost:8002
VITE_EVAL_API_URL=http://localhost:8003
VITE_IMPORT_EXPORT_API_URL=http://localhost:8002

PYTEST_USER_URL=http://localhost:8001
PYTEST_CONTEST_URL=http://localhost:8002
PYTEST_SERVICE_STARTUP_TIMEOUT=45
PYTEST_SERVICE_POLL_INTERVAL=1

SEED_USER_URL=http://localhost:8001
SEED_CONTEST_URL=http://localhost:8002